[submodule "site-lisp/thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit
[submodule "site-lisp/print-debug.el"]
	path = site-lisp/print-debug.el
	url = https://github.com/conao3/print-debug.el
